body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EBF7DA;
}

.left-sidebar {
  position: absolute;
  left: 0;
  width: 255px;
  background-color: #AFDAD9;
  height: 100%;
}

.icon-logo {
  width: 200px;
  margin: 20px auto auto auto;
  display: block;
}

.search-input {
  margin: 30px 0 0 20px;
  padding: 5px 0 5px 10px;
  height: 25px;
  font-size: 18px;
  background-color: #AAD0D0;
  border-radius: 10px;
  border:none;
  width: 80%;
}

nav {
  margin: 31px 0 0 0;
}

nav li{
  margin-bottom: 12px;
}

.feed {
  background-image: url(./assets/feed-icon.png);
  background-size: 41px;
  background-position: 16px -3px;
  background-repeat: no-repeat;
  padding: 12px 0 12px 78px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.feed:hover {
  background-image: url(./assets/feed-icon-hover.png);
  background-color: #6FA0A0;
}

.exercise {
  background-image: url(./assets/heart.png);
  background-size: 32px;
  background-position: 20px 3px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 78px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.exercise:hover {
  background-image: url(./assets/heart-hover.png);
  background-color: #6FA0A0;
}

.calendar {
  background-image: url(./assets/calendar-icon.png);
  background-size: 38px;
  background-position: 17px -1px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 78px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.calendar:hover {
  background-image: url(./assets/calendar-icon-hover.png);
  background-color: #6FA0A0;
}

.calories {
  background-image: url(./assets/calories-icon.png);
  background-size: 30px;
  background-position: 21px 4px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 78px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.calories:hover {
  background-image: url(./assets/calories-icon-hover.png);
  background-color: #6FA0A0;
}

.nutrition {
  background-image: url(./assets/nutrition-icon.png);
  background-size: 37px;
  background-position: 18px 1px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 78px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.nutrition:hover {
  background-image: url(./assets/nutrition-icon-hover.png);
  background-color: #6FA0A0;
}