html, 
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EBF7DA;
  background-color: #f0f4dd
}

header {
  display: flex;
  justify-content: space-around;
  min-width: 700px;
}

.left-sidebar {
  display:inline-block;
  left: 0;
  min-width: 225px;
  width: 25%;
  background-color: #AFDAD9;
  height: 100%;
  
}

.icon-logo {
  width: 200px;
  margin: 20px auto auto auto;
  display: block;
}

.search-input {
  margin: 30px 0 0 20px;
  padding: 5px 0 5px 10px;
  height: 25px;
  font-size: 18px;
  background-color: #AAD0D0;
  border-radius: 10px;
  border:none;
  width: 80%;
}

nav {
  margin: 31px 0 0 0;
}

nav li{
  margin-bottom: 12px;
}

.feed {
  background-image: url(./assets/feed-icon.png);
  background-size: 41px;
  background-position: 16px -3px;
  background-repeat: no-repeat;
  padding: 12px 0 12px 78px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.feed:hover {
  background-image: url(./assets/feed-icon-hover.png);
  background-color: #6FA0A0;
}

.exercise {
  background-image: url(./assets/heart.png);
  background-size: 32px;
  background-position: 20px 3px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 78px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.exercise:hover {
  background-image: url(./assets/heart-hover.png);
  background-color: #6FA0A0;
}

.calendar {
  background-image: url(./assets/calendar-icon.png);
  background-size: 38px;
  background-position: 17px -1px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 78px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.calendar:hover {
  background-image: url(./assets/calendar-icon-hover.png);
  background-color: #6FA0A0;
}

.calories {
  background-image: url(./assets/calories-icon.png);
  background-size: 30px;
  background-position: 21px 4px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 78px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.calories:hover {
  background-image: url(./assets/calories-icon-hover.png);
  background-color: #6FA0A0;
}

.nutrition {
  background-image: url(./assets/nutrition-icon.png);
  background-size: 37px;
  background-position: 18px 1px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 78px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.nutrition:hover {
  background-image: url(./assets/nutrition-icon-hover.png);
  background-color: #6FA0A0;
}
  

.dashboard,
.news-feed {
  text-align: center;
  display: inline-block;
  width: 74%;
  vertical-align: top;
}

.news-feed h1{
  font-size: 30px;
  color: #819d9e;
}

.center,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
}

.pie-chart {
  height: 200px;
  width: 200px;
}

.three-four,
.cal-count {
  color: #819d9e;
}

.right div img {
  width: 50px;
  height: 60px;
}

.picture-welcome  {
  display: flex;
  flex-direction: row;
}

hr {
  display: block;
  width: 90%;
  color: red;
  margin: 20px 0;
}

.news-feed img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.commentor {
width: 400px;
text-align: left;
margin: auto auto 20px auto;
}

.commentee {
  width: 325px;
  text-align: left;
  margin: 15px auto;
}

@media screen and (max-width: 360px) {
  .left-sidebar {
    display: block;
    width: 100%;
  }
  .icon-logo{
    display: none;
  }
  nav {
    display: none;
  }

  .search-input {
    display: none;
  }
}

